<div class="row">
    <div class="col-md-12">
        <a name="@@DISCOVERYHEADER@@"></a>
        <h3>@@DISCOVERYDISPLAYNAME@@ <br /><small>@@DISCOVERYID@@</small></h3>
    </div>
</div>
<div class="row">
    <div class="col-md-7">

        <p>@@DISCOVERYSUMMARY@@</p>
    </div>
    <div class="col-md-5">
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <h4>Discovery info</h4> 
        @@DISCOVERYINFO@@
    </div>
</div>
<div class="row">
    <div class="col-md-7">
        @@DISCOVEREDCLASSES@@
    </div>
</div>
<div class="row" style="margin-bottom: 50px;">
    <div class="col-md-7">
        @@DISCOVEREDRELATIONSHIPS@@
    </div>
</div>