<!DOCTYPE html>
<html lang="en">

<head></head>
<style>
    @@STYLE@@
</style>

<body>
    <div class="container">
        <div class="page-header">
            <h1>@@MPDISPLAYNAME@@ Guide</h1>
        </div>
        <div class="row">
            <div class="col-md-5">
                @@TOC@@
            </div>
            <div class="col-md-7">
                <h3>Management pack info</h3>
                <p>@@MPSUMMARY@@</p>
                <p>This guide is written for the @@MPVERSION@@ version of the management pack.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h2>Classes</h2>
                <hr>
            </div>
        </div>
        @@CLASSES@@
        <div class="row">
            <div class="col-md-12">
                <h2>Groups</h2>
                <hr>
            </div>
        </div>
        @@GROUPS@@
        <div class="row">
            <div class="col-md-12">
                <h2>Discoveries</h2>
                <hr>
            </div>
        </div>
        @@DISCOVERIES@@
        <div class="row">
            <div class="col-md-12">
                <h2>Monitors</h2>
                <hr>
            </div>
        </div>
        @@MONITORS@@
        <div class="row">
            <div class="col-md-12">
                <h2>Rules</h2>
                <hr>
            </div>
        </div>
        @@RULES@@
         <div class="row">
            <div class="col-md-12">
                <h2>Views</h2>
                <hr>
            </div>
        </div>
        @@VIEWS@@
        <div class="row">
            <div class="col-md-12">
                <h2>Tasks</h2>
                <hr>
            </div>
        </div>
        @@TASKS@@
        <div class="row">
            <div class="col-md-12">
                <h2>Folders</h2>
                <hr>
            </div>
        </div>
        @@FOLDERS@@
    </div>
</body>

</html>