<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Table of content</h3>
    </div>
    <div class="panel-body">
        <ol>
            <li>Classes:</li>
            <ul class="list-inline">
                @@CLASSES@@
            </ul>
            <li>Groups:</li>
            <ul class="list-inline">
                @@GROUPS@@
            </ul>
            <li>Discoveries:</li>
            <ul class="list-inline">
                @@DISCOVERIES@@
            </ul>
            <li>Monitors:</li>
            <ul class="list-inline">
                @@MONITORS@@
            </ul>
            <li>Rules:</li>
            <ul class="list-inline">
                @@RULES@@
            </ul>
            <li>Views:</li>
            <ul class="list-inline">
                @@VIEWS@@
            </ul>
            <li>Tasks:</li>
            <ul class="list-inline">
                @@TASKS@@
            </ul>
            <li>Folders:</li>
            <ul class="list-inline">
                @@FOLDERS@@
            </ul>
        </ol>
    </div>
</div>