<?xml version="1.0" encoding="utf-8"?>
<CodeSnippet Format="1.0.0" xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
  <Header>
    <Title>Alert, Windows Eventlog</Title>
    <Author>OpsLogix</Author>
    <Description>This inserts an alerting rule which checks for a specific EventID.</Description>
    <SnippetTypes>
      <SnippetType>Expansion</SnippetType>
    </SnippetTypes>
  </Header>
  <Snippet>
    <Declarations>
      <Literal>
        <ID>MPID</ID>
        <ToolTip>Replace with the management pack ID.</ToolTip>
        <Default>MPID</Default>
      </Literal>
      <Literal>
        <ID>RuleName</ID>
        <ToolTip>The description part of the Rule name.</ToolTip>
        <Default>RuleName</Default>
      </Literal>
      <Literal>
        <ID>TargetClass</ID>
        <ToolTip>Replace with the name of the target class.</ToolTip>
        <Default>TargetClass</Default>
      </Literal>
      <Literal>
        <ID>RuleDisplayName</ID>
        <ToolTip>DisplayName, what is shown in the Operations Console.</ToolTip>
        <Default>RuleDisplayName</Default>
      </Literal>
      <Literal>
        <ID>RuleDescription</ID>
        <ToolTip>Short description of the rule.</ToolTip>
        <Default>RuleDescription</Default>
      </Literal>
      <Literal>
        <ID>UnhealthyLogName</ID>
        <ToolTip>UnhealthyLogName</ToolTip>
        <Default>UnhealthyLogName</Default>
      </Literal>
      <Literal>
        <ID>Property Path</ID>
        <ToolTip>The path to the property. If its located on the target, remove host. But if the target i hosted by Win computer, leave it.</ToolTip>
        <Default>Host/</Default>
      </Literal>
      <Literal>
        <ID>UnhealthyEventSource</ID>
        <ToolTip>UnhealthyEventSource</ToolTip>
        <Default>UnhealthyEventSource</Default>
      </Literal>
      <Literal>
        <ID>UnhealthyEventID</ID>
        <ToolTip>UnhealthyEventID.</ToolTip>
        <Default>UnhealthyEventID</Default>
      </Literal>
      <Literal>
        <ID>SummaryText</ID>
        <ToolTip>Short summary of the rule and the alert.</ToolTip>
        <Default>Summary text</Default>
      </Literal>
      <Literal>
        <ID>ResolutionText</ID>
        <ToolTip>Short description of the actions to take when this alert is generated.</ToolTip>
        <Default>Resolution text</Default>
      </Literal>
    </Declarations>
    <Code Language="XML" Delimiter="@">
      <![CDATA[<Monitoring>
    <Rules>
      <Rule ID="@MPID@.@RuleName@.Alert.Rule" Target="@TargetClass@" Enabled="true">
      <Category>Custom</Category>
      <DataSources>
        <DataSource ID="DS" TypeID="Windows!Microsoft.Windows.EventProvider">
        <ComputerName>$Target/@Property Path@Property[Type="Windows!Microsoft.Windows.Computer"]/NetworkName$</ComputerName>
        <LogName>@UnhealthyLogName@</LogName>
        <Expression>
          <And>
            <Expression>
              <SimpleExpression>
                <ValueExpression>
                  <XPathQuery Type="String">PublisherName</XPathQuery>
                </ValueExpression>
                <Operator>Equal</Operator>
                <ValueExpression>
                  <Value Type="String">@UnhealthyEventSource@</Value>
                </ValueExpression>
              </SimpleExpression>
            </Expression>
            <Expression>
              <SimpleExpression>
                <ValueExpression>
                  <XPathQuery Type="UnsignedInteger">EventDisplayNumber</XPathQuery>
                </ValueExpression>
                <Operator>Equal</Operator>
                <ValueExpression>
                  <Value Type="UnsignedInteger">@UnhealthyEventID@</Value>
                </ValueExpression>
              </SimpleExpression>
            </Expression>
          </And>
        </Expression>
        </DataSource>
      </DataSources>
      <WriteActions>
        <WriteAction ID="GenerateAlert" TypeID="Health!System.Health.GenerateAlert">
          <Priority>0</Priority>
          <Severity>0</Severity>
          <AlertMessageId>$MPElement[Name="@MPID@.@RuleName@.Alert.Rule.AlertMessage"]$</AlertMessageId>
          <AlertParameters>
            <AlertParameter1>$Target/Host/Property[Type="Windows!Microsoft.Windows.Computer"]/NetworkName$</AlertParameter1>
            <AlertParameter2>$Data/EventDisplayNumber$</AlertParameter2>
            <AlertParameter3>$Data/EventDescription$</AlertParameter3>
          </AlertParameters>
          <Suppression>
            <SuppressionValue/>
          </Suppression>
          <Custom1>$Target/Host/Property[Type='Windows!Microsoft.Windows.Computer']/NetworkName$</Custom1>
        </WriteAction>
      </WriteActions>
      </Rule>
    </Rules>
    </Monitoring>
    <Presentation>
      <StringResources>
        <StringResource ID="@MPID@.@RuleName@.Alert.Rule.AlertMessage" />
      </StringResources>
    </Presentation>
    <LanguagePacks>
      <LanguagePack ID="ENU" IsDefault="true">
        <DisplayStrings>
          <DisplayString ElementID="@MPID@.@RuleName@.Alert.Rule">
            <Name>@RuleDisplayName@</Name>
            <Description>@RuleDescription@</Description>
          </DisplayString>
          <DisplayString ElementID="@MPID@.@RuleName@.Alert.Rule.AlertMessage">
            <Name>EventID @UnhealthyEventID@' from source '@UnhealthyEventSource@' has been found in the @UnhealthyLogName@ log.</Name>
            <Description>EventID @UnhealthyEventID@' from source '@UnhealthyEventSource@' has been found in the @UnhealthyLogName@ log on computer {0}.
            Event details: {2}</Description>
         </DisplayString>
        </DisplayStrings>
         <KnowledgeArticles>
        <KnowledgeArticle ElementID="@MPID@.@RuleName@.Alert.Rule" Visible="true">
          <MamlContent xmlns:maml="http://schemas.microsoft.com/maml/2004/10">
            <maml:section>
              <maml:title>Summary</maml:title>
              <maml:para>@SummaryText@</maml:para>
            </maml:section>
            <maml:section>
              <maml:title>Resolution</maml:title>
              <maml:para>@ResolutionText@</maml:para>
            </maml:section>
          </MamlContent>
        </KnowledgeArticle>
      </KnowledgeArticles>
      </LanguagePack>
    </LanguagePacks>]]>
    </Code>
  </Snippet>
</CodeSnippet>