<?xml version="1.0" encoding="utf-8"?>
<CodeSnippet Format="1.0.0" xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
  <Header>
    <Title>Application Component, 3 properties, hosted with dependency monitor</Title>
    <Author>OpsLogix</Author>
    <Shortcut></Shortcut>
    <Description>Creates a hosted Application Component class with three properties. It also creates a dependency monitor for the source class to roll-up health.</Description>
    <SnippetTypes>
      <SnippetType>Expansion</SnippetType>
    </SnippetTypes>
  </Header>
  <Snippet>
    <Declarations>
      <Literal>
        <ID>MPID</ID>
        <ToolTip>Replace with the management pack ID. This should be the same as you project name (as shown in the Solution Explorer).</ToolTip>
        <Default>MPID</Default>
      </Literal>
      <Literal>
        <ID>ClassName</ID>
        <ToolTip>The name of the class.</ToolTip>
        <Default>Class Name</Default>
      </Literal>
      <Literal>
        <ID>ClassDisplayName</ID>
        <ToolTip>The display name. This is shown in the Operations Console.</ToolTip>
        <Default>Class Display Name</Default>
      </Literal>
      <Literal>
        <ID>ClassDescription</ID>
        <ToolTip>This is the description of the class as shown in the Operations Console. Enter a short but clear description of the class. For example: 'This class represents application X '.</ToolTip>
        <Default>Class description</Default>
      </Literal>
      <Literal>
        <ID>Property1Name</ID>
        <ToolTip>This is the ID of the property. It does not have to be uniqe in the management pack, so just the name is sufficient.</ToolTip>
        <Default>Property Name</Default>
      </Literal>
      <Literal>
        <ID>Property1Description</ID>
        <ToolTip>Enter a short description of the property.</ToolTip>
        <Default>Property Description</Default>
      </Literal>
      <Literal>
        <ID>Property1Type</ID>
        <ToolTip>
          This sets the type of property. The most common types are:
          - string
          - int
          - bool
          - decimal
          - double
          - datetime
          - guid

          Press Backspace and Ctrl+Space to use Intellisense.
        </ToolTip>
        <Default>string</Default>
      </Literal>
      <Literal>
        <ID>Property2Name</ID>
        <ToolTip>This is the ID of the property. It does not have to be uniqe in the management pack, so just the name is sufficient.</ToolTip>
        <Default>Property Name</Default>
      </Literal>
      <Literal>
        <ID>Property2Description</ID>
        <ToolTip>Enter a short description of the property.</ToolTip>
        <Default>Property Description</Default>
      </Literal>
      <Literal>
        <ID>Property2Type</ID>
        <ToolTip>
          This sets the type of property. The most common types are:
          - string
          - int
          - bool
          - decimal
          - double
          - datetime
          - guid

          Press Backspace and Ctrl+Space to use Intellisense.
        </ToolTip>
        <Default>string</Default>
      </Literal>
      <Literal>
        <ID>Property3Name</ID>
        <ToolTip>This is the ID of the property. It does not have to be uniqe in the management pack, so just the name is sufficient.</ToolTip>
        <Default>Property Name</Default>
      </Literal>
      <Literal>
        <ID>Property3Description</ID>
        <ToolTip>Enter a short description of the property.</ToolTip>
        <Default>Property Description</Default>
      </Literal>
      <Literal>
        <ID>Property3Type</ID>
        <ToolTip>
          This sets the type of property. The most common types are:
          - string
          - int
          - bool
          - decimal
          - double
          - datetime
          - guid

          Press Backspace and Ctrl+Space to use Intellisense.
        </ToolTip>
        <Default>string</Default>
      </Literal>
      <Literal>
        <ID>SourceClassName</ID>
        <ToolTip>The name/description of the hosting class. It's recommended not to use the full ID but only the description part of the Class ID.</ToolTip>
        <Default>SourceClassName</Default>
      </Literal>
      <Literal>
        <ID>SourceClass</ID>
        <ToolTip>The full ID of the hosting class. Press Backspace and Ctrl+Space to use Intellisense.</ToolTip>
        <Default>SourceClass</Default>
      </Literal>
      <Literal>
        <ID>MemberMonitor</ID>
        <ToolTip>This is the monitor we want to show the health of, the one we are depending on.</ToolTip>
        <Default>Health!System.Health.AvailabilityState</Default>
      </Literal>
        <Literal>
          <ID>ParentMonitor</ID>
          <ToolTip>The ID of the parent monitor that the dependency monitor rolls up to.</ToolTip>
          <Default>Health!System.Health.AvailabilityState</Default>
        </Literal>
      <Literal>
        <ID>DependencyMonitorDescription</ID>
        <ToolTip>Enter a short description of the dependency monitor. For example: 'This monitor shows the health of the hosted TestServiceApplicationComponent.'</ToolTip>
        <Default>Dependency Monitor Description</Default>
      </Literal>
    </Declarations>
    <Code Language="XML" Delimiter="@">
      <![CDATA[<TypeDefinitions>
    <EntityTypes>
      <ClassTypes>
          <ClassType ID="@MPID@.@ClassName@.Class" Base="Windows!Microsoft.Windows.ApplicationComponent" 
              Accessibility="Public" Abstract="false" Hosted="true" Singleton="false">
            <Property ID="@Property1Name@" Key="true" Type="@Property1Type@" />
            <Property ID="@Property2Name@" Key="false" Type="@Property2Type@" />
            <Property ID="@Property3Name@" Key="false" Type="@Property3Type@" />            
          </ClassType>
      </ClassTypes>
      <RelationshipTypes>
        <RelationshipType ID="@MPID@.@SourceClassName@Hosts@ClassName@.Relationship" Accessibility="Public" Abstract="false" Base="System!System.Hosting" >
          <Source ID="Source" Type="@SourceClass@" />
          <Target ID="Target" Type="@MPID@.@ClassName@.Class"/> 
        </RelationshipType>
      </RelationshipTypes>
    </EntityTypes>
  </TypeDefinitions>
  <Monitoring>
    <Monitors>
      <DependencyMonitor ID="@MPID@.@ClassName@.DependencyMonitor" Accessibility="Internal" Enabled="true"
                     Target="@SourceClass@" ParentMonitorID="@ParentMonitor@"
                     Remotable="true" Priority="Normal"
                     RelationshipType="@MPID@.@SourceClassName@Hosts@ClassName@.Relationship"
                     MemberMonitor="@MemberMonitor@">
        <Category>Custom</Category>
        <Algorithm>WorstOf</Algorithm>
        <MemberUnAvailable>Error</MemberUnAvailable>
      </DependencyMonitor>
    </Monitors>
  </Monitoring>
  <LanguagePacks>
    <LanguagePack ID="ENU" IsDefault="true">
        <DisplayStrings>
          <DisplayString ElementID="@MPID@.@ClassName@.Class">
            <Name>@ClassDisplayName@</Name>
            <Description>@ClassDescription@</Description>
          </DisplayString>
          <DisplayString ElementID="@MPID@.@ClassName@.Class" SubElementID="@Property1Name@">
            <Name>@Property1Name@</Name>
            <Description>@Property1Description@</Description>
          </DisplayString>
          <DisplayString ElementID="@MPID@.@ClassName@.Class" SubElementID="@Property2Name@">
            <Name>@Property2Name@</Name>
            <Description>@Property2Description@</Description>
          </DisplayString>
          <DisplayString ElementID="@MPID@.@ClassName@.Class" SubElementID="@Property3Name@">
            <Name>@Property3Name@</Name>
            <Description>@Property3Description@</Description>
          </DisplayString>
          <DisplayString ElementID="@MPID@.@SourceClassName@Hosts@ClassName@.Relationship">
            <Name>@SourceClassName@Hosts@ClassName@ relationship</Name>
            <Description>@SourceClassName@Hosts@ClassName@ relationship</Description>
          </DisplayString>
         <DisplayString ElementID="@MPID@.@ClassName@.DependencyMonitor">
          <Name>@ClassName@</Name>
          <Description>@DependencyMonitorDescription@</Description>
        </DisplayString>
        </DisplayStrings>
      </LanguagePack>
  </LanguagePacks>]]>
    </Code>
  </Snippet>
</CodeSnippet>